<p class="m-0">
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p class="m-0">
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<div class="btn-group-sm">
  <%= link_to "Excluir",
              [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: "mt-2 btn btn-danger " %>
</div>