<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p class="commemnts_body">
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Excluir', 
              [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</p>