<h1 class="title_header">Listar arquivos</h1>
<p>Our blog has <%= Article.public_count %> articles and counting!</p>
<p>Our blog has <%= Comment.public_count %> comments and counting!</p>
<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= link_to article.title, article %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Novo Article", new_article_path,  class: "btn_link_new" %>