<h1><%= @article.title %></h1>

<p>
  <%= @article.body %> -
  <%= link_to "Editar", edit_article_path(@article) %> -
  <%= link_to "Excluir", 
    article_path(@article),
    method: :delete,
    data: { confirm: "Tem certeza?!" } 
  %>
</p>
<a href="/">Voltar</a>


