/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
   text-decoration: none;
   color: #0808e7;
 }

 .btn_link_new {
  background-color: rgb(46, 37, 170);
  color: #eeeef0;
  padding: 10px 10px;
  border-radius: 10px;
 }

 .btn_link_new:hover {
    background-color: rgb(5, 3, 39);
 }

 .commemnts_body {
   color: blueviolet;
   font-weight: 300;
 }